[submodule ".\\src\\binpoll-front"]
	path = .\\src\\binpoll-front
	url = https://github.com/Niekarp/binpoll-front-b3
[submodule ".\\src\\binpoll-back"]
	path = .\\src\\binpoll-back
	url = https://github.com/pawel-antoniuk/binpoll-b3-back
