[submodule ".\\src\\binpoll-front"]
	path = .\\src\\binpoll-front
	url = https://github.com/Niekarp/binpoll-front-triple-stimulus.git
[submodule ".\\src\\binpoll-back"]
	path = .\\src\\binpoll-back
	url = https://github.com/pawel-antoniuk/binpoll-b2-back.git
